# Preserve verified artifact/source/license bytes across checkout platforms.
* -text
*.svg -text
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.wav binary
*.mp3 binary
*.ogg binary
*.zip binary
*.bat -text
